body {
    font-family: Garamond, serif;
    background-color: #dbc387;
    color: #261717;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #261717;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.painting-image {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
}


